<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Interactive Infographic</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
</head>
<body>
    <div class="container">
        <header class="mainHeader">
            <h2>Teenagers and E-cigarettes</h2>
        </header>

        <section id="beer1">
            <h1 class="hidden">Vaping</h1>
            <div class="label-wrapper">
                <object data="images/vape.svg" class="svg-graphic" id="barrels" type="image/svg+xml"></object>
                <span class="see-more" data-target="1">See More Info!</span>
            </div>
            <div class="text-wrapper">
                <!-- <h2>What is Vaping?</h2> -->
                <p class="text"></p>
            </div>
        </section>

        <section id="beer2">
            <div class="label-wrapper">
                <object data="images/infographic.svg" class="svg-graphic" id="barrels" type="image/svg+xml"></object>
                <span class="see-more" data-target="2">See More Info!</span>
            </div>
            <div class="text-wrapper">
                <!-- <h2>Teenagers At Risk Due to Exposure</h2> -->
                <p class="text-two"></p>
            </div>
        </section>
    </div>

    <article class="popover">
            <h4 class="ipa-rating">Title</h4>
            <div class="ratings">Description: </div>
            <p class="beer-description"></p> 
     </article>

    <script src="js/main.js"></script>
</body>
</html>