<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Interactive Infographic</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
</head>
<body>
    <div class="container">
        <header class="mainHeader">
            <h2>Teenagers and E-cigarettes</h2>
        </header>

        <section class="content-one">
            <h2>What is Vaping?</h2>
            <div class="info-one">
                <img src="images/vape.svg" alt="image of vape" class="picture">
                <p class="text">Vaping is the act of inhaling and exhaling the aerosol often referred to as vapor produced by an e-cigarette or a similar device. It is called vaping because e-cigarettes do not produce tobacco smoke but an aerosol often mistaken for wtaer vapour that actually contains fine particles. Many of these particles contain varying amounts of toxic chemicals, which have been linked to heart and respiratory diseases and cancer.</p>
            </div>
        </section>

        <section class="content-two">
            <h2>Teenagers At Risk Due to Exposure</h2>
            <div class="info-two">
                <img src="images/fig_2.svg" alt="image of teen risk chart" class="picture-two">
                <p class="text-two">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ratione officia error ex possimus dicta saepe harum expedita quas, quisquam inventore ipsam facere sed veritatis perspiciatis laboriosam totam, rem veniam.
                </p>
            </div>
        </section>
    </div>




    <script src="js/main.js"></script>
</body>
</html>